<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lyrics Machine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <div class="side-panel">
        <div class="dropdown-container">
            <select id="song-dropdown">
                {% for song in song_options %}
                    <option value="{{ song }}">{{ song }}</option>
                {% endfor %}
            </select>
            <input type="text" placeholder="Search.." id="song-search">
            <ul id="song-list">
                {% for song in song_options %}
                    <li>
                        {{ song }}
                    </li>
                {% endfor %}
            </ul>
            <div id="checkbox-container">
                <input type="checkbox" id="reading-checkbox">
                <label for="toggle-checkbox">Reading mode</label>
                <br>
                <input class="upside-down" type="checkbox" id="upside-down-checkbox">
                <label class="upside-down" for="upside-down-checkbox">Upside Down</label>
            </div>
        </div>
        <button id="add-to-core-button">Add to Core</button>
        <div id="word-info">
            ...
        </div>
    </div>

    <div id="container">
        <!-- Rows of chunks will be loaded here dynamically -->
    </div>
</body>
</html>
