body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-color: #1f1f1f;
}

.side-panel {
    width: 200px;
    height: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed; /* Makes the panel fixed */
    top: 0;
    left: 0;
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: 250px; /* Adjust for the width of the side panel plus some margin */
    margin-top: 35px;
    margin-bottom: 100px;
    padding-bottom: 100px;
    flex-grow: 1; /* Ensures the container takes up remaining space */
}

.row {
    display: flex;
    gap: 0px; /* Space between boxes */
    margin-bottom: 15px;
}

.box {
    background-color: #1f1f1f;
    color: white;
    padding: 1px;
    border-radius: 0px;
    text-align: center;
    min-width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px; /* Adjust height as needed */
}

.top {
    font-size: 20px;
    height: 20px;
    color: #888888;
    z-index: 10; /* Make sure it's above other elements */
}

.top.active {
    opacity: 0;
    z-index: 10;
}

.top.active:hover {
    opacity: 1 !important;
    color: #FFFFFF;
}

.bottom {
    font-size: 14px;
    height: 15px;
}

.middle {
    font-size: 44px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-lyrics {
    margin-bottom: 5px;
    color: #AAAAAA;
}

.footer {
    min-height: 200px;
}

.checkbox-container {
    display: inline-flex;
    align-items: center;
}